
.vscode
.ignore/
node_modules/
dist/extension/maoxian-web-clipper
dist/extension/*.zip
dist/extension/*.xpi
dist/native-app/*.zip
dist/native-app/tmp
dist/offline-pages/*.zip
dist/offline-pages/tmp
native-app/tmp/*.log
native-app/tmp/*.log.*
native-app/config.yaml
native-app/config.yaml.production
native-app/pack.yaml
native-app/pack.yaml.production
native-app/test/mx-wc/clippings
native-app/test/mx-wc/global-assets
