# ATTENTION: restart the browser to apply your changes.
environment: 'production'

# The data directory must exist.
data_dir: '/home/ghost/clipping'

# avariable handler: 'default', 'vnote_v1'
msg_handler: 'default'
