app_name: 'maoxian_web_clipper_native'
app_version: 'NATIVE_APP_VERSION'
app_description: 'Native aplication of maoxian web clipper'
app_path: 'main.rb'
extension_id: 'maoxian-web-clipper@dev.whatever.org'
extension_origin: 'chrome-extension://pikcgpiailaenhiojklhmmpcjepmilbj/'
execute_cmd: 'ruby'
platforms: ['linux', 'macos', 'windows']
browsers: ['chrome', 'chromium', 'firefox']
