@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');

body {
  margin: 0px;
  padding: 0px;
  background-color: #464646;
  color: #000;
}

code, pre {
  font-size: 100%;
}

.center {text-align: center}

.green { color: #4caf50; }
.red { color: red; }

/********** notice ***********/
.notice-success {
  background: #d4edda;
  color: #155724;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.notice-danger {
  background: #f8d7da;
  color: #721c24;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.notice-warning {
  background: #fff3cd;
  color: #856404;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.notice-info {
  background: #d1ecf1;
  color: #0c5460;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.notice-light {
  background: #fff;
  color: #444;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

