
body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.main {
  padding: 40px 10px 200px 10px;
  border: solid 1px #ccc;
}

.links {
  float: right;
}
.actions {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/********** text input ***********/
input[type=text] {
  display: inline-block;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
}

input[type=text]:focus{
  border: 2px solid pink;
}

.search-box{
  margin-bottom: 10px;
}
.search-box.advanced-search-mode {
  display: none;
}

#search {
  width: 80%;
}

.history {
  margin-top: 10px;
}

table {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 13px;
}

.list > table {
  background-color: #f8f8f8;
  margin-bottom: 15px;
}

.list > table > thead {
  background-color: #e8e8e8;
}

.list > table > tbody > tr:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.list > table th,td {
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
}
.list > table td > .format {
  font-size: 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: lightgray;
  color: #f0f0f0;
  text-align: center;
  line-height: 16px;
  margin-right: 10px;
}
.list > table td.html > .format:before {
  content: 'H';
}
.list > table td.md > .format:before {
  content: 'M';
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.modal > .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(46,46,46,.5);
  text-align: center;
}

.modal > .mask > .content{
  display: inline-block;
  margin-top: 120px;
  width: 600px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px 15px 15px 15px;
}

.modal > .mask > .content > table {
  text-align: left;
  margin-bottom: 20px;
}

.modal > .mask > .content > table td{
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
  overflow: hidden;
  word-break: break-word;
}
.modal > .mask > .content > table th{
  text-align: center;
  background-color: #f5f5f5;
  font-weight: normal;
  width: 40px;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
}

.modal > .mask > .content .path {
  border: 0px;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
.modal > .mask > .content .path:focus{
  border: 0px;
}

.notice-warning {
  background: #f5f5f5;
  color: #666;
  line-height: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
}


/* overwrite awesomplete style */
.awesomplete > ul {
  max-height: 260px;
  overflow-y: auto;
}
