
body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.main{
  min-width: 130px;
  max-width: 500px;
  width: auto;
  padding: 8px 0px 8px 0px;
}

.menus .menu { display: none; }
.menus.last-result     .menu[data-id="last-result"],
.menus.clip-as-default .menu[data-id="clip-as-default"],
.menus.clip-as-html    .menu[data-id="clip-as-html"],
.menus.clip-as-md      .menu[data-id="clip-as-md"],
.menus.history         .menu[data-id="history"],
.menus.settings        .menu[data-id="settings"],
.menus.home            .menu[data-id="home"],
.menus.debug           .menu[data-id="debug"] {display: block;}

.menu{
  width: 100%;
  color: #4a4a4a;
  background-color: white;
  text-decoration: none;
  padding: 0px 8px 0px 8px;
  height: 30px;
  line-height: 30px;
}

.menu:hover{
  background-color: #ccc;
  cursor: pointer;
}


.menu .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.menu > .content {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  position: relative;
  top: 1px;
}

.icon.check    { background-image: url("../icons/check.svg") }
.icon.clip     { background-image: url("../icons/crop.svg"); }
.icon.history  { background-image: url("../icons/list.svg"); }
.icon.settings { background-image: url("../icons/settings.svg"); }
.icon.home     { background-image: url("../icons/home.svg"); }
.icon.debug    { background-image: url("../icons/debug.svg"); }
