
body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.main{
  min-width: 130px;
  max-width: 500px;
  width: auto;
  padding: 8px 0px 8px 0px;
}

.menu{
  font-size: 14px;
  display: block;
  width: 100%;
  line-height: 28px;
  color: #4a4a4a;
  background-color: white;
  text-decoration: none;
  padding: 0px 8px 0px 8px;
}
.menu:hover{
  background-color: #ccc;
  cursor: pointer;
}

.menu > .icon {
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.menu > .icon.active{
  color: #0a84ff;
}
