.main {
  width: 100%;
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

/* Desktop screen style */
@media (min-width: 768px) {

  .content {
    width: 75%;
    margin-left: 23%;
    background-color: #fefefe;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 20%;
    max-width: 255px;
    height: 100%;
    padding-top: 20px;
    background-color: #e0e0e0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }

  .sidebar > .menu {
    display: block;
    background-color: #e0e0e0;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    text-decoration: none;
    color: #333;
  }

  .sidebar > .menu:hover {
    background: #eee;
  }

  .sidebar > .menu.active {
    background: white;
    border-left: solid 3px green;
  }

}

/* Palm screen style */
@media (max-width: 767px) {
  .sidebar {display: none}
  .content {
    width: 100;
  }
}

.content {
  display: block;
  padding: 30px 10px 180px 10px;
}

h3 {
  padding: 5px 10px 5px 10px;
  border-bottom: solid 1px #ccc;
}


/********** text input ***********/
input[type=text] {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
}

input[type=text]:focus{
  border: 2px solid pink;
}

/********** options(radio input) ***********/
.options > a{
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #ccc;
  padding: 5px 15px 5px 15px;
  min-width: 100px;
  text-align: center;
  line-height: 40px;
  color: #9F9F9F;
  cursor: pointer;
}

.options > a:hover {
  color: #333;
  background-color: #F5F5F5;
}

.options > a.active{
  color: #333;
  border: 2px dashed green;
  font-weight: bold;
  background-color: #E8E8E8;
}

code {
  background-color: #efefef;
  padding: 1px 4px;
  border: solid 1px #ccc;
  border-radius: 3px;
}
