.main {
  width: 100%;
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

ul > li {
  line-height: 25px;
}

/*=========== content ===========*/

.content {
  display: block;
  padding: 10px 10px 180px 10px;
  font-size: 14px;
  line-height: 23px;
}

/* Desktop screen style */
@media (min-width: 768px) {
  .content {
    width: 75%;
    margin-left: 23%;
    background-color: #fefefe;
  }
}

/* Palm screen style */
@media (max-width: 767px) {
  .content {}
}


/*=========== sidebar ===========*/
  .sidebar {
    position: fixed;
    display: block;
    z-index: 2;
  }

  .sidebar-content {
    padding-top: 20px;
    background-color: #e0e0e0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar-content > .menu {
    display: block;
    background-color: #e0e0e0;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    text-decoration: none;
    color: #333;
  }

  .sidebar-content > .menu:hover {
    background: #eee;
  }

  .sidebar-content > .menu.active {
    background: white;
    border-left: solid 3px green;
  }


  @media (min-width: 768px) {
    .sidebar-folder {
      display: none;
    }

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      max-width: 255px;
      height: 100%;
    }
    .sidebar-content {
      height: 100%;
    }
  }

  @media (max-width: 767px) {
    .sidebar-folder {
      position: fixed;
      display: block;
      top: 20px;
      right: 10px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border-radius: 5px;
      background-color: #464646;
      color: #ccc;
      cursor: pointer;
      z-index: 3;
    }

    .sidebar-folder.active {
      background-color: green;
      background-color: #e0e0e0;
      color: green;
      font-weight: bold;
    }

    .sidebar-content { display: none; }
    .sidebar-folder.active + .sidebar-content {
      padding-top: 40px;
      padding-bottom: 40px;
      position: fixed;
      display: block;
      border: solid 1px #ccc;
      width: 80%;
      max-width: 255px;
      top: 20px;
      right: 10px;
    }
  }

/*=========== sidebar end ===========*/


h2 {
  padding-top: 30px;
}

h3 {
  padding: 5px 10px 5px 10px;
  border-bottom: solid 1px #ccc;
}

section {
  display: block;
}

.hidden {
  display: none;
}

#setting-handler-native-app .version {
  display: none
}
#setting-handler-native-app .version.active {
  display: block;
}

#setting-storage > .save-format, .local-path {
  display: none;
}

#setting-storage > .save-format.active, .local-path.active {
  display: block;
}
#setting-offline-page > .detail {
  display: none;
}
#setting-offline-page > .detail.active {
  display: block;
}
#setting-refresh-history > .detail {
  display: none;
}
#setting-refresh-history > .detail.active {
  display: block;
}

/********** inputs ***********/

.input-group {
  margin-bottom: 20px;
}

details {
  font-size: 12px;
}
details > summary {
  font-size: 14px;
  cursor: pointer;
}

.help-content {
  width: 90%;
  padding: 5px 5px 25px 25px;
}

.help-content > span > pre {
  margin: 0px;
  padding: 0px;
}


input[type=text] {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
}

input[type=text]:focus {
  border: 2px solid pink;
}

input[type=number] {
  width: 50px;
}

textarea {
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 100px;
  padding: 10px;
  line-height: 18px;
}

/********** table *********/

table {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 13px;
}

table > thead {
  background-color: #e8e8e8;
}

table th, td {
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
}

button {
  padding: 4px 8px;
}


/********** options(radio input) ***********/
.options {
  margin-bottom: 20px;
}
.options > a{
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #ccc;
  padding: 5px 15px 5px 15px;
  min-width: 100px;
  text-align: center;
  line-height: 40px;
  color: #9F9F9F;
  cursor: pointer;
}

.options > a:hover {
  color: #333;
  background-color: #F5F5F5;
}

.options > a.active{
  color: #333;
  border: 2px dashed green;
  font-weight: bold;
  background-color: #E8E8E8;
}

/********** log ***********/
.logs {
  display: none;
  border: solid 1px #ccc;
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  height: auto;
  max-height: 100px;
  overflow-x: auto;
  overflow-y: auto;
}
.logs.active {
  display: block;
}
.logs > .log.success { color: green; }
.logs > .log.failure { color: red; }
