body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
}

.main {
  width: 800px;
  min-height: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 50px 20px 200px 20px;
  background-color: #fefefe;
}
h3 {
  padding: 5px 10px 5px 10px;
  border-bottom: solid 1px #ccc;
}

/********** notice ***********/
.notice-warning {
  background: #fff3cd;
  line-height: 20px;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.notice-info {
  background: #d1ecf1;
  line-height: 20px;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/********** text input ***********/
input[type=text] {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  height: 30px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
}

input[type=text]:focus{
  border: 2px solid pink;
}

/********** options(radio input) ***********/
.options > a{
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #ccc;
  padding: 5px 15px 5px 15px;
  min-width: 100px;
  text-align: center;
  line-height: 40px;
  color: #9F9F9F;
  cursor: pointer;
}

.options > a:hover {
  color: #333;
  background-color: #F5F5F5;
}

.options > a.active{
  color: #333;
  border: 2px dashed green;
  font-weight: bold;
  background-color: #E8E8E8;
}
