.main {
  padding: 40px 40px 200px 40px;
  border: solid 1px #ccc;
}

table {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 13px;
  background-color: #f8f8f8;
}

table th {
  text-align: left;
  width: 20%;
  background-color: #ddd;
}


table th,td {
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
}
